*{
	padding: 0;
	margin: 0;
}

.popular-car-section {
    .heading {
        font-family: $primary-font;
        font-weight: 700;
        text-align: center;
        font-size: 44px;
    }
}

.bottom-ribbon
{
	background-color: #000;
	
	.copyright
	{
		margin-top: 1rem;
		color: #6e6e6e;
	}

	.developed-by
	{
		margin-top: 1rem;
		color: #6e6e6e;
	}
}