*{
	padding: 0;
	margin: 0;
}

.popular-car-section {
    .heading {
        font-family: $primary-font;
        font-weight: 700;
        text-align: center;
        font-size: 44px;
        color: #3a3a3a;
    }

    .section-main {
        .car-card {
            .card-main {
                padding: 15px;
                background-color: #fff;
                box-shadow: 1px 1px 1px #000;
                border-radius: 20px;
                display: flex;

                .card-title {
                    font-family: $primary-font;
                    font-weight: 800;
                    text-transform: uppercase;
                    font-size: 35px;
                    color: #333333;
                }
            }
        }
    }
}

.bottom-ribbon
{
	background-color: #000;
	
	.copyright
	{
		margin-top: 1rem;
		color: #6e6e6e;
	}

	.developed-by
	{
		margin-top: 1rem;
		color: #6e6e6e;
	}
}