*{
	padding: 0;
	margin: 0;
}

.popular-car-section {
    padding: 45px 0;

    .heading {
        font-family: $primary-font;
        font-weight: 700;
        text-align: center;
        font-size: 44px;
        color: #3a3a3a;
        margin-bottom: 55px;
    }

    .section-main {
        margin-bottom: 50px;

        .car-card {
            .card-main {
                padding: 30px;
                background-color: #fff;
                box-shadow: 0 0 16px #00000047;;
                border-radius: 20px;
                display: flex;
                flex-direction: column;

                .card-title {
                    font-family: $primary-font;
                    font-weight: 800;
                    text-transform: uppercase;
                    font-size: 35px;
                    color: #333333;
                    margin-bottom: 30px;
                }

                .card-content {
                    .specification {
                        .items {
                            li {
                                list-style-type: none;

                                .icon {
                                    width: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
 
//footer
.footer
{
	background-color: #252525;

	.footer-text
	{
		color: #6e6e6e;
		font-family: $primary-font;
		font-size: 0.8em;
		
	}
	.footer-white-text
	{
		color: #fff;
		font-family: $primary-font;
		font-size: 1em;
		font-weight: 700;
	}

	.help-line
	{
		color: #fff;
		font-family: $primary-font;
		margin-bottom: 0 !important;
	}

	i
	{
		color: #fff;
		font-size: 2em;

	}

	.phone
	{
		color: #ff7901;
		font-family: $primary-font;
		font-size: 1.7em;

	}

}

//bottom ribbon
.bottom-ribbon
{
	background-color: #000;

	.copyright
	{
		margin-top: 1rem;
		color: #6e6e6e;
		font-family: $primary-font;
	}

	.developed-by
	{
		margin-top: 1rem;
		color: #6e6e6e;
		font-family: $primary-font;
	}
}